/*===================推荐=============*/
/*===========fl=============*/
#recommend{
   height: 477px;
}
.recommend{
    margin-left: 246px;
    padding-left: 18px;
    overflow: hidden;
}
.recommend>div.fl{
    width: 690px;
}
.recommend .list li{
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #eee;
    font-size: 0;
}
.recommend .list i{
    width: 16px;
    height: 22px;
    background: url(../imges/hot.png) no-repeat;
    display: inline-block;
    position: relative;
    top:9px;
    left: 0;
}
.recommend .list i.area{
    background: url(../imges/area.png);
}
.recommend .list i.circle{
    background: url(../imges/business.png);
}
.recommend .list a{
    font-size: 12px;
    padding: 0 12px;
}
.recommend .list span{
    font-size: 12px;
    padding:0 7px 0 6px;
}

/*===============show==========*/
.recommend .show{
    width: 690px;
    height: 318px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
}
.recommend .pic{
    height: 100%;
    width: 3000px;
}
.recommend .show .pic li{
    float: left;
    width: 689px;
    height: 100%;
}


.single-recomment{
    position: relative;
}
.single-recomment.fl{
    padding: 10px 11px 0 0;
}
.single-recomment-line{
    width:1px;
    background-color: #eee;
    height: 318px;
}
.single-recomment.fr{
    padding: 10px  0 0 11px;
}
.single-recomment>h4{
    line-height: 20px;
}
.single-recomment>h4>a{
    font-size: 14px;
}
.single-recomment>p{
    font-size: 12px;
    margin-top: 7px;
}
.single-recomment>.price{
    position: absolute;
    right: 11px;
    bottom: 0;
    color: #f76120;
    font-size: 30px;
    font-weight: bold;
}

.recommend .show .btnleft{
    position: absolute;
    top:31%;
    width: 25px;
    height: 25px;
    background: url(../imges/arrow-t.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
}
.recommend .show .btnright{
    position: absolute;
    top:31%;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(../imges/arrow-t.png) no-repeat;
    background-position: 0 -75px;
    cursor: pointer;
}

/*===============fr============*/
.recommend>div.fr{
    width: 198px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.recommend>div.fr>div>img{
    display: block;
}
.recommend>div.fr>div{
    border-bottom: 1px solid #eee;
}